@import "@styles/_mixin";

@mixin notLastChild {
	&:not(:last-child) {
		@content
	}
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2vw;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 90vw;
	max-width: 1336px;
	
	.column {
		text-align: center;
		
		.row {
			margin-bottom: 2vw;
		}
	}
}
