@import "@styles/_mixin";

@mixin notLastChild {
	&:not(:last-child) {
		@content
	}
}

.container {
	display: flex;
	flex-wrap: wrap;
	padding: 5vw 1vw;
	
	// PC UI (1 x 4 / 2vw x 2vw / 1vw per line)
	.column {
		box-sizing: border-box;
		flex: 1 0 25%;
		padding: 0 1vw;
		
		.row {
			padding: 1vw 0;
		}
	}
	
	// mobile UI (2 x 2 / 4vw x 4vw / 2vw per line)
	@include mobile {
		padding: 5vw 2vw;
		
		.column {
			width: 100%;
			flex: none;
			padding: 0 2vw;
			
			.row {
				padding: 2vw 0;
			}
			
		}
	}
	
	// iphone UI (4 x 1 / inherit)
	@include iphone {
		.column {
			.row {
			
			}
		}
	}
}
