@import "variable";
@import "mixin";

.ArtworkListPage {
	display: block !important;
	
	header {
		position: unset !important;
		height: unset !important;
	}
	
	.artworkList {
		padding: 0 3vw 5vw 3vw;
		
		.notFound {
			text-align: left;
			font-size: 2vw;
		}
	}
}
