$page-bg-color: #f0f0f0;
$page-text-color: #000;
$page-hg-color: #858585;

$mobile: 768px;
$iphone: 375px;

$default-font: -apple-system, BlinkMacSystemFont, sans-serif;
$appleSD-font: AppleSDGothicNeo, -apple-system, BlinkMacSystemFont, sans-serif;
