$page-bg-color: #000000;
$page-text-color: #ffffff;
$page-hg-color: #e4007f;

$mobile: 768px;
$iphone: 375px;

$default-font: -apple-system, BlinkMacSystemFont, sans-serif;
$appleSD-font: AppleSDGothicNeo, -apple-system, BlinkMacSystemFont, sans-serif;
