@import "variable";
@import "mixin";

.AdminHeader {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	height: 71px;
	display: flex;
	box-sizing: border-box;
	align-items: center;
	padding: 10px 25px;
	justify-content: space-between;
	background-color: $page-bg-color;
	border-bottom: 1px solid $page-text-color;
	
	.menu {
		display: flex;
		list-style: none;
		padding: 0;
		
		li:not(:last-child) {
			margin-right: 30px;
		}
		
		a {
			color: $page-hg-color;
		}
	}
}
