@import "variable";
@import "mixin";

.ArtworkList {
	&.loading, &.null, &.error {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 2vw;
		
		h1, h3 {
			margin: 2vw 0;
		}
	}
	
	&.error {
		h3 {
			font-size: 0.45em;
			color: lightgray;
		}
	}
}
