@import "@styles/_variable";
@import "@styles/_mixin";

.Header {
	padding: 5vw 4vw;
	box-sizing: border-box;
	//position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	
	.title {
		font-size: 2.2vw;
		line-height: 1.2;
		margin-bottom: 4vh;
	}
	
	.subTitle {
		font-weight: 400;
		user-select: none;
		cursor: pointer;
		
		text-transform: uppercase;
		letter-spacing: 2.8px;
		
		&.active {
			color: $page-hg-color;
		}
	}
	
	.menu {
		line-height: 1.2;
		
		.category {
			list-style: none;
			padding-left: 1.5vw;
			
			li {
				text-transform: uppercase;
				letter-spacing: 2.8px;
				
				transform: translate(0, -30%);
				opacity: 0;
				transition: transform .3s ease, opacity .3s ease;
				
				a {
					transition: color .2s ease;
					
					&:hover {
						color: $page-hg-color;
					}
				}
			}
			
			li:not(:last-child) {
				margin-bottom: 1vh;
			}
			
			&:not(.active) {
				li {
					pointer-events: none;
				}
				
				li:nth-child(1) {
					transition-delay: .15s;
				}
			}
			
			&.active {
				li {
					transform: translate(0, 0);
					opacity: 1;
					
					&:nth-child(2) {
						transition-delay: .3s;
					}
				}
			}
		}
	}
	
	a {
		white-space: pre-line;
	}
	
	@include mobile {
		position: relative;
		height: auto;
		
		.title {
			font-size: 4.5vw;
		}
		
		.subTitle {
			font-size: 4vw;
		}
		
		.menu {
			display: flex;
			align-items: center;
			
			.category {
				font-size: 1vw;
				
				li {
					transform: translate(-4%, 0);
				}
			}
		}
	}
}

.content {
	padding: 5vh 0;
	
	.artTitle {
		margin-bottom: 2vh;
		font-size: 1.7vw;
	}
	
	.about {
		margin-bottom: 5vh;
		font-size: 1.2vw;
		font-weight: 400;
	}
	
	.text {
		white-space: pre-line;
		word-break: keep-all;
		font-size: 1.2vw;
	}
	
	@include mobile {
		&:not(.isContent) {
			display: none;
		}
		
		padding: 0 5vw;
		
		.artTitle {
			margin-bottom: 2vh;
			font-size: 3.5vw;
		}
		
		.about {
			margin-bottom: 2vh;
			font-size: 2.5vw;
		}
		
		.text {
			font-size: 2.5vw;
		}
	}
}
