@import "variable";
@import "mixin";

.Header {
	position: sticky;
	display: grid;
	grid-template-rows: 1fr 9fr;
	grid-row-gap: 4vh;
	height: 100vh;
	top: 0;
	left: 0;
	padding: 3vw;
	box-sizing: border-box;
	overflow: hidden;
	
	.title {
		display: inline-block;
		font-size: 2.2vw;
		line-height: 1.2;
		white-space: pre-line;
	}
	
	.content {
		overflow: auto;
	}
	
	@include mobile {
		height: unset !important;
		
		.title {
			font-size: 4.5vw;
		}
	}
}
